* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #0664ED;
}

.container {
  position: relative;
}

.w {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

a, button, input {
  outline: none !important;
  transition: .2s all;
}

a, button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: .2s all;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteHeader {
  position: sticky;
  background: #fff;
  top: 0;
  padding: 50px 0;
  z-index: 100;
}

.siteHeader > .w {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.siteHeader__logo {
  width: 206px;
  height: auto;
  margin-right: 125px;
}

.siteHeader__menu {
  width: 35%;
}

.siteHeader__menu__item {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.siteHeader__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 235px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero {
  margin-top: 50px;
}

.hero__left {
  width: 55%;
}

.hero__left__aboveHeader {
  color: #818181;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__left__header {
  font-size: 48px;
  font-weight: 700;
  margin: 15px 0 50px;
}

.hero__left__text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 55px;
  max-width: 90%;
}

.hero__left__btn {
  background: var(--primary);
  width: 393px;
  height: 75px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

.img--heroLeftBtn {
  width: 3px;
  margin-left: 8px;
}

.hero__right {
  width: 40%;
}

.sectionHeader {
  margin-bottom: 100px;
  max-width: 650px;
}

.sectionHeader__before {
  color: #C1C1C1;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sectionHeader__header {
  color: #000;
  font-weight: 600;
  font-size: 42px;
  margin-top: 10px;
}

.section--offer {
  margin-top: 200px;
}

.offer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10%;
}

.offer__grid__item__title {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
}

.offer__grid__item__text {
  margin: 15px 0 25px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
}

.offer__grid__item__link {
  color: #033277;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.offer__grid__item__link > .img {
  margin-left: 8px;
  width: 5px;
  transition: .2s all;
}

.offer__grid__item__link:hover > .img {
  transform: translateX(2px);
}

.section--usp {
  margin-top: 175px;
}

.usp__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8%;
  grid-row-gap: 50px;
}

.usp__grid__item__title {
  padding-left: 25px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
}

.usp__grid__item__title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background: var(--primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.usp__grid__item__text {
  color: #606060;
  font-size: 18px;
  margin-top: 15px;
}

.portfolio__item {
  margin-bottom: 440px;
  align-items: flex-start;
}

.portfolio__item__right,
.portfolio__item__left {
  width: 48%;
}

.portfolio__item__left__textBefore {
  color: #C1C1C1;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.portfolio__item__left__title {
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0 15px;
  max-width: 589px;
}

.portfolio__item:last-child .portfolio__item__left__title {
  max-width: 519px;
}

.portfolio__item__left__text {
  color: #606060;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
  max-width: 589px;
}

.portfolio__item__right {
  position: relative;
}

.portfolio__item__right__img {
  box-shadow: 5px 25px 30px #00000040;
  position: absolute;
  transition: 1.5s transform ease;
}

.portfolio__item__right__img--1 {
  position: relative;
  top: 0;
  right: 0;
  max-width: 427px;
}

.portfolio__item__right__img--2 {
  top: 50%;
  right: 0;
  transform: translateY(55px);
}

.portfolio__item__right__img--3 {
  top: 70%;
  left: 10%;
  transform: translateY(35px);
}

.section--portfolio {
  margin-top: 175px;
}

.sectionHeader--center {
  margin: 0 auto 25px;
}

.sectionHeader--center > * {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.sectionHeader--center > .sectionHeader__header {
  max-width: 442px;
}

.section__text {
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  color: #606060;
  max-width: 650px;
}

.section__disclaimer {
  color: #606060;
  font-size: 14px;
  margin: 0 auto 75px;
  text-align: center;
}

.hero__left__btn--projectTimeline {
  margin: auto;
}

.container--offer .section--projectTimeline {
  margin-bottom: 150px;
}

.project {
  position: relative;
  margin-top: 160px;
  padding-bottom: 80px;
}

.project > .w {
  position: relative;
}

.project__item {
  position: absolute;
  top: -50px;
  width: 18%;
  opacity: 0;
  transition: .6s all;
}

.project__item:nth-child(1) {
  left: 0;
}

.project__item:nth-child(2) {
  left: 27%;
}

.project__item:nth-child(3) {
  right: 27%;
}

.project__item:nth-child(4) {
  right: 0;
}

.project__item__header {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.project__item__point {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  background: #fff;
  transform: translateY(-6px);
  z-index: 3;
}

.project__item__point::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary);
}

.project__item__text {
  text-align: center;
  font-size: 14px;
}

.project__line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: top left;
  transition: 4s all linear;
}

.references__text {
  font-size: 20px;
  color: #606060;
  margin: -75px 0 100px;
  max-width: 554px;
}

.references__inner {
  align-items: flex-start;
}

.references__item {
  background: #F8FAFD;
  border-radius: 10px;
  width: 30%;
  position: relative;
  padding: 25px;
}

.references__item::before {
  content: url("/cytat.svg");
  position: absolute;
  top: -15px;
  right: 20px;
  width: 36px;
  height: auto;
}

.references__item__header {
  justify-content: flex-start;
}

.references__item__header__logo {
  width: 100px;
  height: 100px;
  background: #fff;
  margin-right: 5%;
}

.references__item__header__logo > .img {
  width: 70px;
  height: auto;
}

.references__item__header__title {
  font-size: 18px;
  font-weight: 700;
}

.references__item__content {
  margin-top: 40px;
}

.references__item__content__p {
  font-size: 16px;
}

.references__item__content__p:not(:last-child) {
  margin-bottom: 15px;
}

.references__stars {
  width: 180px;
  margin: 75px auto 25px;
}

.references__stars > .img {
  width: 86px;
}

.references__stars__text {
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
}

.btn--references {
  margin: auto;
  width: 385px;
  height: 80px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.btn--references > .img {
  width: 32px;
  margin-left: 15px;
}

.section--faq {
  align-items: flex-start;
  margin-top: 150px;
}

.section--references {
  margin-top: 175px;
}

.faq__left {
  width: 40%;
}

.faq__left .sectionHeader__header {
  max-width: 398px;
}

.btn--faq {
  justify-content: flex-start;
  background: transparent;
  border: none;
  color: #033277;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: -25px;
}

.btn--faq > .img {
  width: 5px;
  margin-left: 5px;
  transition: .2s all;
}

.btn--faq:hover > .img {
  transform: translateX(3px);
}

.faq__right {
  width: 55%;
}

.faq__item {
  width: 100%;
}

.faq__item__header {
  border: none;
  border-bottom: 1px solid #DFDFDF;
  padding: 25px 0;
  width: 100%;
  background: transparent;
}

.faq__item__header__title {
  font-size: 20px;
  font-weight: 500;
}

.faq__item__header__icon {
  position: relative;
}

.faq__item__header__icon > .img {
  width: 15px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s opacity;
}

.img--minus {
  opacity: 0;
}

.faq__item__content {
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  height: 0;
  transition: .3s all;
}

.faq__item:first-child .img--plus {
  opacity: 0;
}

.faq__item:first-child .img--minus {
  opacity: 1;
}

.faq__item:first-child .faq__item__content {
  transform: scaleY(1);
  height: auto;
  opacity: 1;
  padding: 15px 0;
}

.section--simpleForm {
  background: #F8FAFD;
  padding: 50px 0;
  margin-top: 80px;
}

.section--simpleForm > .w {
  flex-direction: column;
}

.simpleForm__header,
.simpleForm__text {
  text-align: center;
}

.simpleForm__header {
  font-size: 26px;
  font-weight: 600;
  max-width: 541px;
}

.simpleForm__text {
  color: #959595;
  font-size: 18px;
  max-width: 668px;
  margin: 15px 0 50px;
}

.simpleForm__form {
  width: 90%;
  max-width: 650px;
}

.simpleForm__form__label {
  width: calc(100% - 174px);
  height: 75px;
}

.input--simpleForm {
  background: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #606060;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
}

.input--simpleForm:focus,
.input--simpleForm:active {
  border: 1px solid var(--primary);
}

.btn--simpleFormSubmit {
  width: 164px;
  height: 75px;
  border-radius: 5px;
  background: var(--primary);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.btn--simpleFormSubmit:hover {
  background: transparent linear-gradient(180deg, #0664ED 0%, #0632ED 100%) 0% 0% no-repeat padding-box;
}

.footer {
  margin-top: 125px;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  padding: 50px 0;
  align-items: flex-start;
}

.footer__col {
  width: 30%;
}

.footer__col__text {
  margin-top: 26px;
  font-size: 16px;
  color: #959595;
}

.footer__colGroup {
  align-items: flex-start;
  width: 60%;
}

.footer__colGroup__item {
  width: 28%;
}

.footer__colGroup__item__header {
  color: #959595;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.footer__colGroup__item__link {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: block;
}

.footer__colGroup__item__link:hover {
  color: #505050;
}

.footer__colGroup__item__text > a,
.footer__colGroup__item__text > span {
  display: block;
  font-size: 16px;
  color: #000;
}

.footer__colGroup__item__text__marginTop {
  margin-top: 10px;
}

.footer__colGroup__item__text > span > .grey {
  color: #959595;
  padding-left: 3px;
}

.bottomBar {
  padding: 15px 0;
}

.bottomBar__header {
  color: #959595;
  font-size: 14px;
  font-weight: 400;
}

.bottomBar__social {
  justify-content: flex-end;
}

.bottomBar__social > a {
  display: block;
  width: 20px;
}

.bottomBar__social > a:hover {
  opacity: .85;
}

.bottomBar__social > a:first-child {
  margin-right: 15px;
}

.offerPageHeader {
  background: #F8FAFD;
  padding: 75px 0;
  flex-direction: column;
}

.offerPageHeader__textBefore {
  color: #C1C1C1;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
}

.offerPageHeader__header {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  max-width: 862px;
  margin: 10px auto 50px;
  width: 90%;
}

.blue {
  color: var(--primary);
}

.offerPageHeader__text {
  color: #606060;
  width: 90%;
  max-width: 872px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.offerPageContent {
  margin-top: 75px;
}

.offerPageContent__content,
.offerPageContent__image {
  width: 48%;
}

.offerPageContent__content__block:not(:last-child) {
  margin-bottom: 50px;
}

.offerPageContent__content__block__header {
  font-size: 36px;
  font-weight: 600;
}

.offerPageContent__content__block__text {
  color: #606060;
  font-size: 16px;
  margin-top: 25px;
}

.offerPagePoints {
  margin-top: 175px;
  background: #F8FAFD;
  padding: 50px 0;
  flex-direction: column;
}

.offerPagePoints__header {
  font-size: 36px;
  margin: auto;
  text-align: center;
}

.offerPagePoints__text {
  color: #606060;
  font-size: 16px;
  text-align: center;
  max-width: 796px;
  margin: 25px auto 75px;
}

.offerPagePoints {
  flex-direction: column;
  margin-bottom: 150px;
}

.offerPagePoints__points {
  gap: 84px;
}

.offerPagePoints__item {
  flex-direction: column;
}

.offerPagePoints__item > .img {
  height: 35px;
  width: auto;
}

.offerPagePoints__item__header {
  margin: 24px auto 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.offerPagePoints__item__text {
  color: #606060;
  font-size: 14px;
  text-align: center;
}

.offerPagePoints--simple {
  background: transparent;
  align-items: flex-start;
}

.offerPagePoints--simple .offerPagePoints__header {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.offerPagePoints--simple .offerPagePoints__text {
  font-size: 20px;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  margin-bottom: 0;
}

.offerPagePoints__simplePoints__item {
  margin-top: 25px;
  padding-left: 25px;
  position: relative;
  color: #606060;
  font-size: 20px;
}

.offerPagePoints__simplePoints__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary);
  width: 10px;
  height: 10px;
  border-radius: 1px;
}

.offerPageHeader--portfolio {
  padding-bottom: 270px;
}

.offerPageHeader--portfolio .offerPageHeader__textBefore {
  color: #000;
}

.portfolioMainImage {
  display: block;
  transform: translateY(-220px);
  margin: 0 auto -220px;
}

.portfolioFrames {
  margin-top: 25px;
  align-items: flex-start;
}

.portfolioFrames__left,
.portfolioFrames__right {
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  padding: 25px;
}

.portfolioFrames__left {
  width: 67%;
}

.portfolioFrames__right {
  width: 30%;
}

.portfolioFrames__header {
  font-size: 18px;
  margin-bottom: 15px;
}

.portfolioFrames__right__stack__item,
.portfolioFrames__left__text {
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  display: block;
}

.portfolioFrames__right__stack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.portfolioFrames__right__stack__item {
  position: relative;
  padding-left: 10px;
  margin-right: 25px;
  margin-bottom: 27px;
}

.portfolioFrames__right__stack__item::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: var(--primary);
}

.portfolio__heading {
  margin-top: 175px;
  font-size: 36px;
  font-weight: 600;
}

.portfolio__p {
  margin-top: 25px;
  color: #606060;
  font-size: 20px;
}

.portfolio__imgFull {
  margin-top: 40px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 100%;
}

.portfolio__p > span {
  display: block;
  color: #606060;
  font-weight: 600;
}

.flex > .portfolio__imgFull {
  width: 49%;
}

@media(max-width: 1800px) {

}

@media(max-width: 1400px) {

}

@media(max-width: 1200px) {

}

@media(max-width: 996px) {

}

@media(max-width: 768px) {

}

@media(max-width: 576px) {

}
